
*---------------------------------------------------------------------
*  contents of this catalog file.
*---------------------------------------------------------------------
CATALOG
  NAME         = 'AMouse',
  DESCRIPTION  = 'This catalog contains AMouse.'


**********************************************************************


*---------------------------------------------------------------------
*  PACKAGE entry for product in the catalog.
*---------------------------------------------------------------------
PACKAGE
  NAME            = 'AMouse',
  NUMBER          = '0002-001',
  FEATURE         = '0000',
  VRM             = '025000',
  PACKAGEFILE     = 'DRIVE: AMOUSE.PKG',
  PKGDESCRFILE    = 'DRIVE: AMOUSE.DSC',
  SIZE            = '2500000',
  UPDATECONFIGSYS = 'YES'
