#include <os2.h>
#include "res.h"
#include "dlg.h"

ICON IDI_ICON AMOUSE_ICON

BITMAP (IDB_LOGI_BATT_BASE + 0) "batt0.bmp"
BITMAP (IDB_LOGI_BATT_BASE + 1) "batt1.bmp"
BITMAP (IDB_LOGI_BATT_BASE + 2) "batt2.bmp"
BITMAP (IDB_LOGI_BATT_BASE + 3) "batt3.bmp"
BITMAP (IDB_LOGI_BATT_BASE + 4) "batt4.bmp"
BITMAP (IDB_LOGI_BATT_BASE + 5) "batt5.bmp"
BITMAP (IDB_LOGI_BATT_BASE + 6) "batt6.bmp"
BITMAP (IDB_LOGI_BATT_BASE + 7) "batt7.bmp"

RCINCLUDE AMou007.dlg

STRINGTABLE
    {
    // common strings AMouse.dll, AMouse.exe
    IDS_ABOUT,              "О программе"
    IDS_PAGENAME_DEVINFO,   "Об ~устройстве"
    IDS_PAGENAME_WHEEL,     "~Колесо"
    IDS_PAGENAME_BUTTONS,   "К~лавиши"
    IDS_PAGENAME_TIMING,    "~Тонкая настройка"

    IDS_BATT_EMPTY,         "Мышь: батарея села"

    IDS_PORT_UNKNOWN,       ""
    IDS_PORT_SERIAL,        "COM0:"
    IDS_PORT_PS2,           "PS/2"
    IDS_PORT_USB,           "USB"

    IDS_WHEEL_0,            ""
    IDS_WHEEL_1,            "есть"
    IDS_WHEEL_2,            "есть два"

    IDS_ACCEL_VAL_OFF,      "выкл"
    IDS_ACCEL_VAL_FAST,     "макс"

    IDS_PAGE_WHEEL,         "PM + Полный экран"
    IDS_PAGE_WHEEL_C,       "Ctrl + Колесо"
    IDS_PAGE_WHEEL_A,       "Alt + Колесо"

    IDS_PAGENUMBER          "Страница %1 из %2"

    IDS_TYPE_AMBIGUOUS,     "\n\t(или аналогичная)"

    IDS_UNKNOWN,            "Неизвестный"
    IDS_UNKNOWN_DEVICE,     "Неизвестное устройство"
    IDS_UNKNOWN_RECEIVER,   "Неизвестный приёмник"

    IDS_PAGE_BUTTON,        "Кнопка"
    IDS_PAGE_BUTTON_C,      "Ctrl+Кнопка"
    IDS_PAGE_BUTTON_A,      "Alt+Кнопка"

    // strings for AMouse.exe only
    IDS_SWENTRY,            "Настройка AMouse"
    IDS_NOMOUSE,            "нет мыши с колесом"
    IDS_ERR_SEM,            "Не могу открыть семафор"

    IDS_HELPWINDOWTITLE,    "Справка AMouse"

    // hotkey descriptions
    IDS_KEY_CTRL            "Ctrl+"             // ???
    IDS_KEY_ALT             "Alt+"              // ???
    IDS_KEY_SHIFT           "Shift+"            // ???
    IDS_KEY_BACKSPACE       "Backspace"         // ???
    IDS_KEY_TAB             "Tab"               // ???
    IDS_KEY_BACKTABTAB      "Backtab"           // ???
    IDS_KEY_ENTER           "Enter"             // ???
    IDS_KEY_ESC             "Esc"               // ???
    IDS_KEY_SPACE           "Space"             // ???
    IDS_KEY_PAGEUP          "Page Up"           // ???
    IDS_KEY_PAGEDOWN        "Page Down"         // ???
    IDS_KEY_END             "End"               // ???
    IDS_KEY_HOME            "Home"              // ???
    IDS_KEY_LEFT            "Left"              // ???
    IDS_KEY_UP              "Up"                // ???
    IDS_KEY_RIGHT           "Right"             // ???
    IDS_KEY_DOWN            "Down"              // ???
    IDS_KEY_PRINTSCRN       "Print"             // ???
    IDS_KEY_INSERT          "Insert"            // ???
    IDS_KEY_DELETE          "Delete"            // ???
    IDS_KEY_SCRLLOCK        "Scroll"            // ???
    IDS_KEY_NUMLOCK         "NumLock"           // ???
    IDS_KEY_WINLEFT         "Win95 left"        // ???
    IDS_KEY_WINRIGHT        "Win95 right"       // ???
    IDS_KEY_WINMENU         "Win95 Menu"        // ???
    IDS_KEY_SYSRQ           "SysReq"            // ???
    }

// common strings AMouse.dll, AMouse.exe
RCDATA IDRC_MOUSETYPE
    {
    PORT_UNKNOWN,   WHEEL_0, TYPE_UNAMBIG, "Неизвестный"
    PORT_UNKNOWN,   WHEEL_0, TYPE_UNAMBIG, "Мышь на шине"
    PORT_SERIAL,    WHEEL_0, TYPE_AMBIG,   "Мышь на последовательном порту"
    PORT_UNKNOWN,   WHEEL_0, TYPE_UNAMBIG, "Мышь Inport"
    PORT_PS2,       WHEEL_0, TYPE_UNAMBIG, "Мышь PS/2"
    PORT_UNKNOWN,   WHEEL_0, TYPE_AMBIG,   "Чувствительный экран IBM 8516"
    PORT_SERIAL,    WHEEL_0, TYPE_AMBIG,   "Мышь Logitech"
    PORT_UNKNOWN,   WHEEL_0, TYPE_AMBIG,   "Screen Reader Keypad"
    PORT_UNKNOWN,   WHEEL_0, TYPE_UNAMBIG, "Нет мыши"
    PORT_SERIAL,    WHEEL_1, TYPE_AMBIG,   "MS-IntelliMouse"
    PORT_PS2,       WHEEL_1, TYPE_AMBIG,   "MS-IntelliMouse"
    PORT_PS2,       WHEEL_1, TYPE_AMBIG,   "Typhoon 40159 / Trust 250S"
    PORT_USB,       WHEEL_1, TYPE_UNAMBIG, "Мышь USB"
    PORT_PS2,       WHEEL_1, TYPE_AMBIG,   "PS/2+"
    PORT_PS2,       WHEEL_1, TYPE_UNAMBIG, "Тип 14"
    }

// common strings AMouse.dll, AMouse.exe
RCDATA IDRC_BUTTONSETTINGS
    {
    IDR_NONE,               "нет действия"
    IDR_CLIPBOARD_CUT,      "Вырезать"
    IDR_CLIPBOARD_COPY,     "Скопировать"
    IDR_CLIPBOARD_INSERT,   "Вставить"
    IDR_BUTTON3,            "Средняя кнопка"
    IDR_MINIMIZE_ALL,       "Минимизировать/Скрыть все окна"
    IDR_RESTORE_ALL,        "Восстановить все окна"
    IDR_WINDOW_LIST,        "Список окон"
    IDR_CLOSE_APPLICATION,  "Закрыть приложение"
    IDR_DOUBLECLICK,        "Двойной щелчок"
    IDR_MAXIMIZE_WND,       "Максимизировать окно"
    IDR_MINIMIZE_WND,       "Минимизировать/Скрыть окно"
    IDR_RESTORE_WND,        "Восстановить окно"
    IDR_TOGGLE_SCROLL,      "Изменить направление прокрутки"
    IDR_PUSH_TO_BACK,       "Переместить окно вглубь"
    IDR_KEY,                "Key combination"           // ???
    IDR_END,                ""
    }

// menu used in AMouse.dll
MENU IDM_MAINMENU LOADONCALL MOVEABLE DISCARDABLE
    {
    MENUITEM "О программе",         IDM_ABOUT,          MIS_TEXT
    #ifdef DEBUG
    MENUITEM "DEBUG (AMOUSE)",      IDM_OPENDEBUG,      MIS_TEXT
    #endif
    }

