#include <os2.h>
#include "res.h"
#include "dlg.h"

ICON IDI_ICON AMOUSE_ICON

BITMAP (IDB_LOGI_BATT_BASE + 0) "batt0.bmp"
BITMAP (IDB_LOGI_BATT_BASE + 1) "batt1.bmp"
BITMAP (IDB_LOGI_BATT_BASE + 2) "batt2.bmp"
BITMAP (IDB_LOGI_BATT_BASE + 3) "batt3.bmp"
BITMAP (IDB_LOGI_BATT_BASE + 4) "batt4.bmp"
BITMAP (IDB_LOGI_BATT_BASE + 5) "batt5.bmp"
BITMAP (IDB_LOGI_BATT_BASE + 6) "batt6.bmp"
BITMAP (IDB_LOGI_BATT_BASE + 7) "batt7.bmp"

RCINCLUDE AMou039.dlg

STRINGTABLE
    {
    // common strings AMouse.dll, AMouse.exe
    IDS_ABOUT,              "Informazioni"
    IDS_PAGENAME_DEVINFO,   "~Informazioni dispositivo"
    IDS_PAGENAME_WHEEL,     "~Rotella"
    IDS_PAGENAME_BUTTONS,   "~Tasti"
    IDS_PAGENAME_TIMING,    "T~emporizzazione"

    IDS_BATT_EMPTY,         "Mouse: batteria scarica"

    IDS_PORT_UNKNOWN,       ""
    IDS_PORT_SERIAL,        "COM0:"
    IDS_PORT_PS2,           "PS/2"
    IDS_PORT_USB,           "USB"

    IDS_WHEEL_0,            ""
    IDS_WHEEL_1,            "una"
    IDS_WHEEL_2,            "due"

    IDS_ACCEL_VAL_OFF,      "non attiva"
    IDS_ACCEL_VAL_FAST,     "max"

    IDS_PAGE_WHEEL,         "PM e sessioni schermo intero"
    IDS_PAGE_WHEEL_C,       "Ctrl + rotella"
    IDS_PAGE_WHEEL_A,       "Alt + rotella"

    IDS_PAGENUMBER          "Pagina %1 di %2"

    IDS_TYPE_AMBIGUOUS,     "\n\t(o simile)"

    IDS_UNKNOWN,            "sconosciuto"
    IDS_UNKNOWN_DEVICE,     "dispositivo sconosciuto"
    IDS_UNKNOWN_RECEIVER,   "ricevitore sconosciuto"

    IDS_PAGE_BUTTON,        "Tasto"
    IDS_PAGE_BUTTON_C,      "Ctrl+tasto"
    IDS_PAGE_BUTTON_A,      "Alt+tasto"

    // strings for AMouse.exe only
    IDS_SWENTRY,            "Configurazione AMouse"
    IDS_NOMOUSE,            "Rotella mouse non presente"
    IDS_ERR_SEM,            "Impossibile aprire semaforo"

    IDS_HELPWINDOWTITLE,    "Aiuto per AMouse"

    // hotkey descriptions
    IDS_KEY_CTRL            "Ctrl+"
    IDS_KEY_ALT             "Alt+"
    IDS_KEY_SHIFT           "Maiusc+"
    IDS_KEY_BACKSPACE       "<--"
    IDS_KEY_TAB             "Tab"
    IDS_KEY_BACKTABTAB      "Tab indietro"
    IDS_KEY_ENTER           "Invio"
    IDS_KEY_ESC             "Esc"
    IDS_KEY_SPACE           "Spazio"
    IDS_KEY_PAGEUP          "PagSu"
    IDS_KEY_PAGEDOWN        "PagGi—"
    IDS_KEY_END             "Fine"
    IDS_KEY_HOME            "Home"
    IDS_KEY_LEFT            "Sinistra"
    IDS_KEY_UP              "Su"
    IDS_KEY_RIGHT           "Destra"
    IDS_KEY_DOWN            "Gi—"
    IDS_KEY_PRINTSCRN       "Stampa"
    IDS_KEY_INSERT          "Ins"
    IDS_KEY_DELETE          "Canc"
    IDS_KEY_SCRLLOCK        "Scorrimento"
    IDS_KEY_NUMLOCK         "NumLock"
    IDS_KEY_WINLEFT         "Win95 sinistro"
    IDS_KEY_WINRIGHT        "Win95 destro"
    IDS_KEY_WINMENU         "Win95 Menu"
    IDS_KEY_SYSRQ           "SysReq"
    }

// common strings AMouse.dll, AMouse.exe
RCDATA IDRC_MOUSETYPE
    {
    PORT_UNKNOWN,   WHEEL_0, TYPE_UNAMBIG, "sconosciuto"
    PORT_UNKNOWN,   WHEEL_0, TYPE_UNAMBIG, "Mouse Bus"
    PORT_SERIAL,    WHEEL_0, TYPE_AMBIG,   "Mouse seriale MS"
    PORT_UNKNOWN,   WHEEL_0, TYPE_UNAMBIG, "Mouse Inport"
    PORT_PS2,       WHEEL_0, TYPE_UNAMBIG, "Mouse PS/2"
    PORT_UNKNOWN,   WHEEL_0, TYPE_AMBIG,   "Touch Display IBM 8516"
    PORT_SERIAL,    WHEEL_0, TYPE_AMBIG,   "Mouse Logitech"
    PORT_UNKNOWN,   WHEEL_0, TYPE_AMBIG,   "Tastierino lettura schermo"
    PORT_UNKNOWN,   WHEEL_0, TYPE_UNAMBIG, "Nessun mouse"
    PORT_SERIAL,    WHEEL_1, TYPE_AMBIG,   "MS-IntelliMouse"
    PORT_PS2,       WHEEL_1, TYPE_AMBIG,   "MS-IntelliMouse"
    PORT_PS2,       WHEEL_1, TYPE_AMBIG,   "Typhoon 40159 / Trust 250S"
    PORT_USB,       WHEEL_1, TYPE_UNAMBIG, "mouse USB"
    PORT_PS2,       WHEEL_1, TYPE_AMBIG,   "PS/2+"
    PORT_PS2,       WHEEL_1, TYPE_UNAMBIG, "Tipo 14"
    }

// common strings AMouse.dll, AMouse.exe
RCDATA IDRC_BUTTONSETTINGS
    {
    IDR_NONE,               "nessuna funzione"
    IDR_CLIPBOARD_CUT,      "Taglia"
    IDR_CLIPBOARD_COPY,     "Copia"
    IDR_CLIPBOARD_INSERT,   "Incolla"
    IDR_BUTTON3,            "Tasto centrale mouse"
    IDR_MINIMIZE_ALL,       "Riduci/nascondi tutte le finestre"
    IDR_RESTORE_ALL,        "Ripristina tutte le finestre"
    IDR_WINDOW_LIST,        "Elenco finestre"
    IDR_CLOSE_APPLICATION,  "Chiudi applicazione"
    IDR_DOUBLECLICK,        "Doppio clic"
    IDR_MAXIMIZE_WND,       "Ingrandisci al massimo finestra"
    IDR_MINIMIZE_WND,       "Riduci/nascondi finestra"
    IDR_RESTORE_WND,        "Ripristina finestra"
    IDR_TOGGLE_SCROLL,      "Cambia direzione scorrimento"
    IDR_PUSH_TO_BACK,       "Spingi finestra sotto le altre"
    IDR_KEY,                "Combinazione tasti"
    IDR_END,                ""
    }

// menu used in AMouse.dll
MENU IDM_MAINMENU LOADONCALL MOVEABLE DISCARDABLE
    {
    MENUITEM "Informazioni",        IDM_ABOUT,          MIS_TEXT
    #ifdef DEBUG
    MENUITEM "DEBUG (AMOUSE)",      IDM_OPENDEBUG,      MIS_TEXT
    #endif
    }

