#include <os2.h>
#include "res.h"
#include "dlg.h"

ICON IDI_ICON AMOUSE_ICON

BITMAP (IDB_LOGI_BATT_BASE + 0) "batt0.bmp"
BITMAP (IDB_LOGI_BATT_BASE + 1) "batt1.bmp"
BITMAP (IDB_LOGI_BATT_BASE + 2) "batt2.bmp"
BITMAP (IDB_LOGI_BATT_BASE + 3) "batt3.bmp"
BITMAP (IDB_LOGI_BATT_BASE + 4) "batt4.bmp"
BITMAP (IDB_LOGI_BATT_BASE + 5) "batt5.bmp"
BITMAP (IDB_LOGI_BATT_BASE + 6) "batt6.bmp"
BITMAP (IDB_LOGI_BATT_BASE + 7) "batt7.bmp"

RCINCLUDE AMou001.dlg

STRINGTABLE
    {
    // common strings AMouse.dll, AMouse.exe
    IDS_ABOUT,              "About"
    IDS_PAGENAME_DEVINFO,   "Device ~information"
    IDS_PAGENAME_WHEEL,     "~Wheel"
    IDS_PAGENAME_BUTTONS,   "~Keys"
    IDS_PAGENAME_TIMING,    "~Timing"

    IDS_BATT_EMPTY,         "Mouse: Battery empty"

    IDS_PORT_UNKNOWN,       ""
    IDS_PORT_SERIAL,        "COM0:"
    IDS_PORT_PS2,           "PS/2"
    IDS_PORT_USB,           "USB"

    IDS_WHEEL_0,            ""
    IDS_WHEEL_1,            "present"
    IDS_WHEEL_2,            "2 present"

    IDS_ACCEL_VAL_OFF,      "off"
    IDS_ACCEL_VAL_FAST,     "max"

    IDS_PAGE_WHEEL,         "PM + Fullscreen"
    IDS_PAGE_WHEEL_C,       "Ctrl + Wheel"
    IDS_PAGE_WHEEL_A,       "Alt + Wheel"

    IDS_PAGENUMBER,         "Page %1 of %2"

    IDS_TYPE_AMBIGUOUS,     "\n\t(or similar)"

    IDS_UNKNOWN,            "unknown"
    IDS_UNKNOWN_DEVICE,     "unknown device"
    IDS_UNKNOWN_RECEIVER,   "unknown receiver"

    IDS_PAGE_BUTTON,        "Key"
    IDS_PAGE_BUTTON_C,      "Ctrl+Key"
    IDS_PAGE_BUTTON_A,      "Alt+Key"

    // strings for AMouse.exe only
    IDS_SWENTRY,            "AMouse Configuration"
    IDS_NOMOUSE,            "no wheel mouse present"
    IDS_ERR_SEM,            "Unable to open semaphore"

    IDS_HELPWINDOWTITLE,    "Help for AMouse"

    // hotkey descriptions
    IDS_KEY_CTRL            "Ctrl+"
    IDS_KEY_ALT             "Alt+"
    IDS_KEY_SHIFT           "Shift+"
    IDS_KEY_BACKSPACE       "Backspace"
    IDS_KEY_TAB             "Tab"
    IDS_KEY_BACKTABTAB      "Backtab"
    IDS_KEY_ENTER           "Enter"
    IDS_KEY_ESC             "Esc"
    IDS_KEY_SPACE           "Space"
    IDS_KEY_PAGEUP          "Page Up"
    IDS_KEY_PAGEDOWN        "Page Down"
    IDS_KEY_END             "End"
    IDS_KEY_HOME            "Home"
    IDS_KEY_LEFT            "Left"
    IDS_KEY_UP              "Up"
    IDS_KEY_RIGHT           "Right"
    IDS_KEY_DOWN            "Down"
    IDS_KEY_PRINTSCRN       "Print"
    IDS_KEY_INSERT          "Insert"
    IDS_KEY_DELETE          "Delete"
    IDS_KEY_SCRLLOCK        "Scroll"
    IDS_KEY_NUMLOCK         "NumLock"
    IDS_KEY_WINLEFT         "Win95 left"
    IDS_KEY_WINRIGHT        "Win95 right"
    IDS_KEY_WINMENU         "Win95 Menu"
    IDS_KEY_SYSRQ           "SysReq"
    }

// common strings AMouse.dll, AMouse.exe
RCDATA IDRC_MOUSETYPE
    {
    PORT_UNKNOWN,   WHEEL_0, TYPE_UNAMBIG, "Unknown"
    PORT_UNKNOWN,   WHEEL_0, TYPE_UNAMBIG, "Bus-Mouse"
    PORT_SERIAL,    WHEEL_0, TYPE_AMBIG,   "Serial MS-Mouse"
    PORT_UNKNOWN,   WHEEL_0, TYPE_UNAMBIG, "Inport-Mouse"
    PORT_PS2,       WHEEL_0, TYPE_UNAMBIG, "PS/2-Mouse"
    PORT_UNKNOWN,   WHEEL_0, TYPE_AMBIG,   "IBM 8516 Touch Display"
    PORT_SERIAL,    WHEEL_0, TYPE_AMBIG,   "Logitech-Mouse"
    PORT_UNKNOWN,   WHEEL_0, TYPE_AMBIG,   "Screen Reader Keypad"
    PORT_UNKNOWN,   WHEEL_0, TYPE_UNAMBIG, "No Mouse"
    PORT_SERIAL,    WHEEL_1, TYPE_AMBIG,   "MS-IntelliMouse"
    PORT_PS2,       WHEEL_1, TYPE_AMBIG,   "MS-IntelliMouse"
    PORT_PS2,       WHEEL_1, TYPE_AMBIG,   "Typhoon 40159 / Trust 250S"
    PORT_USB,       WHEEL_1, TYPE_UNAMBIG, "USB mouse"
    PORT_PS2,       WHEEL_1, TYPE_AMBIG,   "PS/2+"
    PORT_PS2,       WHEEL_1, TYPE_UNAMBIG, "Type 14"
    }

// common strings AMouse.dll, AMouse.exe
RCDATA IDRC_BUTTONSETTINGS
    {
    IDR_NONE,               "no action"
    IDR_CLIPBOARD_CUT,      "Cut"
    IDR_CLIPBOARD_COPY,     "Copy"
    IDR_CLIPBOARD_INSERT,   "Paste"
    IDR_BUTTON3,            "Center button"
    IDR_MINIMIZE_ALL,       "Minimize/Hide all windows"
    IDR_RESTORE_ALL,        "Restore all windows"
    IDR_WINDOW_LIST,        "Window list"
    IDR_CLOSE_APPLICATION,  "Close application"
    IDR_DOUBLECLICK,        "Double click"
    IDR_MAXIMIZE_WND,       "Maximize window"
    IDR_MINIMIZE_WND,       "Minimize/Hide window"
    IDR_RESTORE_WND,        "Restore window"
    IDR_TOGGLE_SCROLL,      "Toggle scroll direction"
    IDR_PUSH_TO_BACK,       "Push window to background"
    IDR_KEY,                "Key combination"
    IDR_END,                ""
    }

// menu used in AMouse.dll
MENU IDM_MAINMENU LOADONCALL MOVEABLE DISCARDABLE
    {
    MENUITEM "About",               IDM_ABOUT,          MIS_TEXT
    #ifdef _TRACE_
    MENUITEM "DEBUG (AMOUSE)",      IDM_OPENDEBUG,      MIS_TEXT
    #endif /* _TRACE_ */
    }

